@model IEnumerable<LaptopEshop.EF.Category>


<li>
    <a href="index.html">Category</a>
    <ul class="dropdwn">
        @foreach (var item in Model)
        {
                <li>
                    <a href="@Url.Action("Category", "Product", new { id = item.Id })">@item.NameVN</a>
                </li>
            }
        
    </ul>
</li>

